[Desktop Entry]
Name=OpenJDK Policy Tool #ARCH#
Comment=Manage OpenJDK policy files for #ARCH#
Exec=/usr/bin/policytool
Icon=java-1.7.0
Terminal=false
Type=Application
StartupWMClass=sun-security-tools-PolicyTool
Categories=Development;Java;
Version=1.0
