[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Bacula Monitor
GenericName=Bacula Tray Monitor
Comment=Monitor your Bacula Backup server
Exec=/usr/sbin/bacula-tray-monitor -c /etc/bacula/tray-monitor.conf
Icon=bacula-tray-monitor
Terminal=false
Type=Application
Categories=System;Application;Utility
