[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Bacula Bat Console
GenericName=Backup Management Console
Comment=Control your Bacula Server
Exec=/usr/sbin/bat -c /etc/bacula/bat.conf
Icon=bat
Terminal=false
Type=Application
Categories=System;Application;Utility

