[Unit]
Description=Bacula-FileDaemon, a Backup-client
Documentation=man:bacula-fd(8)
After=network.target nss-lookup.target

[Service]
Environment=CONFIG=/etc/bacula/bacula-fd.conf
EnvironmentFile=-/etc/sysconfig/bacula-fd
ExecStart=/usr/sbin/bacula-fd -f $OPTS -c $CONFIG -u $FD_USER -g $FD_GROUP
IOSchedulingClass=idle
Restart=on-failure

[Install]
WantedBy=multi-user.target
