[Unit]
Description=Bacula-StorageDaemon, the storage-server
Documentation=man:bacula-sd(8)
After=network.target nss-lookup.target

[Service]
Environment=CONFIG=/etc/bacula/bacula-sd.conf
EnvironmentFile=-/etc/sysconfig/bacula-sd
ExecStart=/usr/sbin/bacula-sd -f $OPTS -c $CONFIG -u $SD_USER -g $SD_GROUP
Restart=on-failure

[Install]
WantedBy=multi-user.target
